<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-phone"></i> +91-97730-57953
            </div>
            <div class="col-md-4">
                <i class="fas fa-envelope-open"></i> khoda.khunti22@gmail.com
            </div>
            <div class="col-md-4">
                <div class="social text-right">
                    <a href="https://www.facebook.com/khoda.khunti22" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/khoda-khunti/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/_.karan_khunti._/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com/khodakhunti22", target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
